{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
		<h1 class="jumbotron-heading">MEU CARRINHO</h1>
		{% if '{{ order.get_cart_items }}' == '0' %}
		<h2>Seu carrinho está vazio.</h2>
		{% endif %}

     </div>
</section>
	<div class="row">
		<div class="col-lg-12">

			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'store:store' %}">&#x2190; Continue comprando</a>
				<table class="table">
					<tr>
						<th><h5>Produtos: <strong>{{ order.get_cart_items }}</strong></h5></th>
						<th><h5>Total:<strong> R${{ order.get_cart_total|floatformat:2 }}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" 
							href="{% url 'store:checkout' %}">Pagar</a>
						</th>
					</tr>
				</table>
			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:1"></div>
					<div style="flex:1"><strong>Produto</strong></div>
					<div style="flex:1"><strong>Preço</strong></div>
					<div style="flex:1"><strong>Quantidade</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:1"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:1"><p>{{ item.product.name }}</p></div>
					<div style="flex:1"><p>R${{ item.product.price|floatformat:2 }}</p></div>
					<div style="flex:1">
						<div class="row">
						<p class="quantity">{{ item.quantity }}</p>
						<div class="quantity">
							<img data-product= {{ item.product.id }} data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
					
							<img data-product= {{ item.product.id }} data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					</div>
					<div style="flex:1"><p>R$ {{ item.get_total }}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}