<footer class="card-footer text-center font-small mt-4 wow fadeIn ">

    <!--Copyright-->
    <div class="footer-copyright py-3">
      <small class="text-muted">

        Preços e condições de pagamento exclusivos para compras via internet, podendo variar nas lojas físicas. 
        Caso os produtos apresentem divergências de valores, o preço válido é o da Sacola de compras.
        Vendas sujeitas a análise e confirmação de dados.
      </small>
      <small class="text-muted">
        Ponto das variedades - CNPJ:
      </small>
      <small class="text-muted">
        Endereço: Avenida Maceió - Tabuleiro do Martins, Maceió - AL<br>
      </small>

        <a href="{% url 'store:store' %}"><small class="text-muted" target="_blank""> 
          ®Ponto das Variedades – Todos os direitos reservados. </small></a>
    </div>
    <!--/.Copyright-->
  
  </footer>