<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Ponto da Variedades</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script type="text/javascript">
		var user = '{{ request.user }}'
	
	

	function getToken(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie !== '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
		var csrftoken = getToken('csrftoken');

	function getCookie(name) {
		var cookieArr = document.cookie.split(";")

		for( var i=0; i<cookieArr.length; i++) {
			var cookiePair = cookieArr[i].split("=");

			if (name ==cookiePair[0].trim()) {
				return decodeURIComponent(cookiePair[1]);
			}
		}
	return null;
	}
	var cart = JSON.parse(getCookie('cart'))
	console.log('cart:')
	if(cart ==undefined){
		cart = {}
		console.log('Cart was created')
		document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
	}	
	</script>
	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b1c74cb0cc2cafde372e7b847/49f1699050cee263e1670fa59.js");</script>
</head>
<body>


<!-- navbar-->
	<nav class="navbar-expand-lg sticky-top navbar-light" style="background-color: #000000; display: flex;
		flex-wrap: wrap;  align-items: center; -webkit-box-pack: justify; 
		justify-content: space-between;">
		<a class="navbar-brand waves-effect" href="/" style="font-size: 28px; color: #fedc3d;"> 
			Ponto das Variedades </a>
		<button style="background-color:white;" class="navbar-toggler" type="button" 
		data-toggle="collapse" data-target="#navbarSupportedContent"
		  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<button class="btn dropdown-toggle " type="button" id="dropdownMenu"
				 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
				 style="background-color:#000000 ; color: #fedc3d;">
				  Categorias
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenu">
				<form action="{% url 'store:store'%}" method='get' > 
				  <button name = 'category' class="dropdown-item" value="Bo" type="submit">Bolsas</button>
				</form>	
				<form action="{% url 'store:store'%}" method='get' > 
				  <button name = 'category' class="dropdown-item" value="Ci" type="submit">Cintos</button>
				</form>	
				<form action="{% url 'store:store'%}" method='get' > 
				  <button name = 'category' class="dropdown-item" value="Ca" type="submit">Carteiras</button>
				</form>	
				<form action="{% url 'store:store'%}" method='get' > 
				  <button name = 'category' class="dropdown-item"value="Es" type="submit">Escolar</button>
				</form>	
				<form action="{% url 'store:store'%}" method='get' > 
				  <button name = 'category' class="dropdown-item" value="Ar" type="submit">Armarinho</button>
				</form>	
				<form action="{% url 'store:store'%}" method='get' > 
				  <button name = 'category' class="dropdown-item" value="Br" type="submit">Briquedos</button>
				</form>
				<form action="{% url 'store:store'%}" method='get' > 
					<button name = 'category' class="dropdown-item" value="Ac" type="submit">Acessorios</button>
				</form>
			</div>				
			<form class='form-inline mr-auto my-lg-0' size='85' action="{% url 'store:store'%}" method='get' > 
				<input class='form-control' name="q" type="text" 
				placeholder="Procure por nome.." style="size: 80px;" value={{request.get.q}} >
				<button class="btn btn-primary" style="background-color:#fedc3d; width:80px; height:38px" 
				 type="submit" value='Search'>
				<span style="color: #000000;">Procurar</span></button>
			</form>
			<div class="form-inline my-2 my-lg-0">
				{% if request.user.is_authenticated %}
					<mute style="color: #fedc3d;"> Bem vindo(a) {{request.user}}</mute>
						<a class="nav-link waves-effect" href="{% url 'account_logout' %}">
						<span class="clearfix d-none d-sm-inline-block" style="color:#fedc3d;"> Sair
						</a>
				{% else %}
						<a class="nav-link waves-effect" href="{% url 'account_login' %}">
					<span class="clearfix d-none d-sm-inline-block" style="color:#fedc3d;"> Entrar
					</a>
					<a class="nav-link waves-effect" href="{% url 'account_signup' %}">
					<span class="clearfix d-none d-sm-inline-block" style="color:#fedc3d;"> inscrever-se
					</a>
				{% endif %}
			<a href="{% url 'store:cart' %}">
				<img  id="cart-icon" src="{% static 'images/cart.png' %}">
				</a>
			<p id="cart-total" style="background-color: #01abaa;">{{cartItems}} </p>
			</div>
		</div>
		
		

	
		<!-- Links -->

				</div>
		
			</div>	
	</nav>
<br>
<!-- navbar-->

			{% block content %}


			{% endblock content %}
	
			 {% block extra_body %}
			 {% endblock %}
			 {% include "store/footer.html" %}

		 
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity=
	"sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	 crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity=
	"sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	 crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity=
	"sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	 crossorigin="anonymous"></script>

	<script type="text/javascript" src = "{% static 'js/cart.js' %}"></script>
</body>
</html>
