{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container" >
	<br>
	<br>
	<div class='row' >
		<div class="col-lg col-md-6 mb-4" >
			<div class="card" >
				<small>{{ products|length }} produtos foram encontrados.</small>
			</div>
		</div>
	</div>

	<div class="row">		
		{% for product in products %}
		<div class="col-lg-3 col-md-6 mb-4" >
			<div class="card">
				<div class="view overlay">
					<a  href="{{ product.get_absolute_url }}">
						<img class="thumbnail" src="{{product.imageURL}}">
						<div class="mask rgba-white-slight">
						</div>
					</a>
				</div>
				<div class="card-body text-center">
					<h5>
							<a href="{{ product.get_absolute_url }}" class="text-dark">{{ product.name }}
							</a>
					</h5>
					<h4 class="font-weight-bold blue-text">
						<strong>
						  {% if product.discount_price %}
						  <h4>
						  <small class="text-muted">
							de <del> R${{ product.price }}</del>
						  </small>
						</h4>
						<h3>
							por R${{ product.get_real_price}}

						</h3>
						  {% else %}
						  <h3>
						  por R${{ product.price }}
						  <h3>
						  {% endif %}
						</strong>
					</h4>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}